body {
	background: url("../images/brick-wall.jpeg") repeat;
}

h1 {
	font-family: 'Faster One', cursive;
}

h2, h3, button {
	font-family: 'Vast Shadow', cursive;
}

table, label {
	font-family: 'Montserrat', sans-serif;
}

img {
	width: 400px;
}

.panel > .panel-heading, .btn {
	background: #800000;
}

.panel {
	border: 1px solid black;
}