body {
	background: url("../images/random_grey_variations.png") repeat;
}

h1{
	line-height: 50px;
	font-weight: bold;
}

h2, h3, h4 {
	color: white;
}

#chatbox {
	background: white;
	height: 300px;
	border-radius: 5px;
}

input {
	border-radius: 5px;
}

.boxes{
	height: 200px;
	border: 1px solid white;
}