body {
	background: url("../images/court.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #cccccc;
}

h1 {
	margin-top: 40px;
	text-align: center;
}

.versus {
	height: 210px;
}

.thumbnail {
	border: 3px solid;
}