body {
	background: url("../images/court.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #cccccc;
}

h1 {
	margin-top: 40px;
	text-align: center;
}

h6 {
	font-size: 20px;
}

.thumbnail {
	border: 3px solid;
}

.activePlayer {
	background: blue;
}

.activeOpponent {
	background: red;
}