body {
	background: url("../images/court.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #cccccc;
}

h1 {
	font-family: 'Orbitron', sans-serif;
	font-size: 42px;
	text-shadow: 2px 2px #fff;
	font-weight: bold;
	margin-top: 40px;
	text-align: center;
	text-transform: uppercase;
}

h2, h3, h4, h5, h6, .btn-lg {
	font-family: 'Exo 2', sans-serif;
}

h6 {
	font-size: 20px;
}

.thumbnail img {
	display: inline;
}

.thumbnail {
	border: 3px solid;
}

.activePlayer {
	background: green;
}

.activeOpponent {
	background: red;
}

.fight-stats img {
	height: 250px;
}

.bench {
	background: grey;
}